a:visited {
    color: red;
}

a:hover {
    color: blue;
}

img
{
    border-radius: 700px;
    display: block;
    margin: auto;
}

img:hover {
    border-radius: 0;
}

header {
    text-align: center;
    font-family: Sora;
}

.center {
    text-align: center;
}

ul {
    display: inline-block; 
}

.leftList {
    margin-left: 300 px;
    margin-right: 800 px;
    font-family: Calibri;
}

.rightList {
    margin-left: 1000px;
    font-family: Calibri;
}

.footer {
    text-align: center;
    font-family: Sofia;
}